@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&display=swap');


html, body, #home {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url(../imagens/odosadisajd1.jpg) no-repeat;

    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
 

nav.navbar-transparente {
    padding: 15px 0;
    background: transparent;
}

.navbar-nav {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,.1);
}

#home strong {
    color: white;
}

#home i {
    padding-left: 5px;
 
}

#home a {
    list-style: none;
    text-decoration: none;
    color: white;
}

#home button {
    background: none;
    color: #ccc;
    width: 240px;
    height: 50px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

#home button:focus {
    outline: none;
}


#home button::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

#home button:hover {
    background: #338033;
    cursor: pointer;
}

#home button:before {
    transform: translateX(300px) skewX(-15deg);
}

.conta {
    padding-top: 10px;
    color: white;
}

.conta a {
    list-style: none;
    color: white;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}

.cart {
   padding-top: 10px;
}

.titulonoticias {
    color: #000;
    font-size: 30px;
    padding-top: 30px;
    letter-spacing: 1px;
}

#separador {
    width: 100%;
    border: none;
    background: #000;
    opacity: .4;
    height: 1px;
}

#noticias .row .noticiass {
    flex-basis: 25%;
    padding-top: 15px;
}

#noticias img {
    width: 100%;
}

#noticias a {
    font-size: 1em;
    padding-top: 25px;
    color: red;
}

#noticias h2 {
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
}

.revisao {
    padding-top: 20px;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    --webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}

.services{
    background: #f5f5f5;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.textoservices{
	text-align:center;
}
.textoservices h1{
	color:#576975;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
}
.textoservices p{
	color: rgba(87,105,117,0.60);
	font-size: 1rem;
	margin: 5px;
	text-align: center;
}
.s-box-container{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width:300px;
	padding: 20px 25px;
	height: 400px;
	box-sizing: border-box;
	margin: 30px;
	position: relative;
}
.s-box img{
	height: 75px;
}
.s-box h1{
	color:#576975;
	letter-spacing: 1px;
	font-size: 1.5rem;
	margin-bottom: 8px;
	
}
.s-box p{
	color: rgba(87,105,117,0.90);
	text-align: center;
}
.s-btn{
	width: 140px;
	height: 40px;
	border-radius: 20px;
	border:1px solid rgba(74,144,226,0.50);
	display: flex;
	justify-content: center;
	align-items: center;
	color:#939ba0;
	margin-top:10px; 
}
.bar{
	width: 100px;
	height: 6px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color:#4dccc6; 
	border-radius: 0px 0px 10px 10px;
	display: none;
	animation: bar 0.5s;
}
.s-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
	transition: all ease 0.3s;
}
.s-btn:hover{
	background-color:#4a90e2;
	border: 1px solid #4a90e2;
	color:#FFFFFF;
	transition: all ease 0.3s;
}
.s-box:hover .bar{
	display: block;
}
@keyframes bar{
	0%{
		width:0px;
	}
	100%{
		width:100px;
	}
}

#services h2, h3 {
    color: #7c25f8;
}


.albuns {
    padding: 10px 0;
}

.rotacionar {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    padding-left: 80px;
}

.motivos {
    font-size: 7px;
    font-weight: 600;
    margin-left: 150px;
    padding-top: 100px;
}


.contribuir {
    color:white !important;
    font-weight: 600;
    float: right;
    text-align: left; 
}

/* account-page */
.account-page {
    padding: 50px 0;
    background-color: #f5f5f5;
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#loginForm {
    left: -300px;
}

#RegistrarForm {
    left: 0;
}

form a {
    font-size: 12px;
}


/* cardapio */
.filter{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    
}
table{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: 150px;
}
td, th{
    padding: 15px 20px;
    text-align: center;
}
th {

    background-color: #6ab04c;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
}

tr{
    width: 100%;
    background-color: #fafafa;
}
tr:nth-child(even){
    background-color: #eeeeee;
}

/* RODAPÉ */
footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a>:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

h1 {
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.2em;
}

/* clientes */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

.banner {
    background: url(../imagens/spaghetti-2931846_1920.jpg);
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
   
}

.sobrenos {
    margin-bottom: 0px;
}

#clientes {
    padding-top: 10px;
}

#clientes .testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}
#clientes .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
  
#clientes .border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

#clientes .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#clientes .col{
    text-align: center;
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
#clientes .testimonial{
    background: #f5f5f5;
    padding: 30px;
}
#clientes .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#clientes .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
#clientes .stars{
    color: #6ab04c;
    margin-bottom: 20px;
}

#clientes h1 {
    font-size: 36px;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#services2 {
    padding: 80px 0;
}

.service-img {
    width: 50px;
    margin-top: 10px;
}

.services2 {
    padding: 10px;
}

.custom-shape-divider-bottom-1601588448 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601588448 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1601588448 .shape-fill {
    fill: #F5F5F5;
}

.tilt {
   
    width: 100%;
}

/* produtos */

#produtos .small.container {
    background: white;
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

#produtos .col-4 {
    text-align: center;
    align-items: center;
    margin-left: 100px;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
#receitas .col-sm-4 {
    text-align: center;
    align-items: center;
    margin-left: 75px;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

#receitas h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
}

#receitas .col-sm-4 img {
    width: 100%;
}

#produtos .col-4 img {
    width: 100%;
}

#produtos h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
}

#produtos p {
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.produtoss {
    background:url(../imagens/top-view-1248955_1920.jpg) no-repeat;               
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1 {
        font-size: 3em;
    }
    .col{
        flex: 100%;
        max-width: 100%;
      }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1 {
        font-size: 3em;
    }
    col{
        flex: 100%;
        max-width: 80%;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1 {
        font-size: 5em;
    }
    .s-box-container{
        flex-wrap: wrap;
        
    }	
    .services{
        height: auto;
    }
    .s-heading{
        margin: 15px;
    }
    .s-box{
        flex-grow: 1;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    h1 {
        font-size: 6em;
    }
 }
