@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../imagens/capacapacapa.png),
    url(../imagens/ruido.png),
    linear-gradient(50deg, #271d10, #140f06);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

nav.navbar-transparente {
    padding: 15px 0;
    background: white;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,.1);
}

.divisor {
    width: 1px;
    background: black;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    --webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
    background: #fff176;
    color: black;
}

.btn-roxo:hover {
    background: #fdd835;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
    color: black;
}

.caixa {
    padding-top: 20px;
    padding-bottom: 20px;
}

#services {
    
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#services h2, h3 {
    color: #7c25f8;
}

#recursos h2 {
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}

#recursos p {
    color: white;
}

.albuns {
    padding: 10px 0;
}

.rotacionar {
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    padding-left: 80px;
}


/* RODAPÉ */
footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a>:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

h1 {
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.2em;
}

/* clientes */

.banner {
    background: url(https://images.pexels.com/photos/4518688/pexels-photo-4518688.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500),
    url(../imagens/ruido.png),
    linear-gradient(50deg, #271d10, #140f06);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

/* produtos */

#produtos .small.container {
    background: white;
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    text-align: center;
    align-items: center;
    margin-left: 100px;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.col-4 img {
    width: 100%;
}

#produtos h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1 {
        font-size: 3em;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1 {
        font-size: 3em;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1 {
        font-size: 5em;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    h1 {
        font-size: 6em;
    }
 }
